<div class="container-page-operation">
    <div class="page-operation">
        <div>
            <a href="{{ "/MyPortfolio" | relURL }}" title="Trang chủ">
                <img src="{{ "imgs/icons/home-2.svg" | relURL }}" alt="Trang chủ">
            </a>
        </div>
        <div>
            <a href="{{ "/MyPortfolio/nav" | relURL }}" title="Điều hướng">
                <img src="{{ "imgs/icons/iov-navigate-1.svg" | relURL }}" alt="Điều hướng">
            </a>
        </div>
        <div>
            <a href="{{ "/MyPortfolio/wiki" | relURL }}" title="Wiki">
                <img src="{{ "imgs/icons/wiki.svg" | relURL }}" alt="Wiki">
            </a>
        </div>
        <div>
            <a href="{{ "/MyPortfolio/tags" | relURL }}" title="Thẻ">
                <img src="{{ "imgs/icons/treetags.svg" | relURL }}" alt="Thẻ">
            </a>
        </div>
        <div id="light-dark">
            <a title="Chuyển chế độ">
                <img src="{{ "imgs/icons/moon2.svg" | relURL }}" alt="Chuyển chế độ">
            </a>
        </div>
        <div>
            <a href="#" title="Lên đầu trang" onclick="window.scrollTo({top: 0, behavior: 'smooth'}); return false;">
                <img src="{{ "imgs/icons/up2.svg" | relURL }}" alt="Lên đầu trang">
            </a>
        </div>
    </div>
</div>