{{ define "main" }}
<div class="container-404">
    <div class="content">
        <!-- <img src="/imgs/404.gif" /> -->
        <div class="words">

                <b>Khuyết danh《Khi cuộc sống đánh lừa bạn》</b>
                <br><br>

                Khi cuộc sống đánh lừa bạn,<br>
                Đừng buồn, đừng vội vàng!<br>
                Trong những ngày u sầu hãy bình tĩnh,<br>
                Hãy tin rằng! Những ngày vui vẻ sẽ đến.<br>
                Trái tim luôn hướng về tương lai,<br>
                Hiện tại thường u sầu.<br>
                Mọi thứ đều thoáng qua,<br>
                Mọi thứ đều sẽ trôi qua;<br>
                Và những gì đã qua,<br>
                Sẽ trở thành kỷ niệm thân thương.<br>
                <br>
                <br>
                <br>
        </div>
    </div>
    <div class="desc">
        <div>Bạn đã lạc đường, hãy quay về.</div>
        <div><a href="/">Đừng lạc lối, luôn tìm được đường về nhà.</a></div>
    </div>
</div>
{{ end }}